html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.header {
  margin: 0 auto 32px;
  min-width: 1680px;
}

.header__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 0 24px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #E2E4F0;
}

.header__logo {
  display: flex;
  min-width: 144px;
}

.header__menu {
  display: flex;
  align-items: center;
  padding: 16px 0;
}

.header__btn {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  gap: 12px;
  border: none;
  border-radius: 8px;
  background-color: #1551E5;
  color: #FFFFFF;
}
.header__btn span {
  padding-right: 24px;
}

.header__search {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #E2E4F0;
  padding: 10px 16px;
  justify-content: space-between;
}
.header__search input[type=text] {
  border: none;
}
.header__search ::-webkit-input-placeholder {
  color: #050d23;
}

.header__search-icons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__icons {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header__icons img {
  min-width: 32px;
}

.header__line {
  width: 1px;
  height: 48px;
  background-color: #E2E4F0;
}

.header__basket {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  gap: 12px;
  min-width: 148px;
  background-color: #F2F6FF;
  border-radius: 8px;
}

.header__price {
  white-space: nowrap;
}

.header__account {
  display: flex;
  align-items: center;
  gap: 16px;
  min-width: 169px;
}

.header__account-name {
  white-space: nowrap;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  border-bottom: 1px solid #E2E4F0;
}

.nav__links {
  display: flex;
  gap: 24px;
}

.nav__link {
  color: #071435;
  font-size: 14px;
  line-height: 16px;
}

.nav__items {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav__btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border: none;
  background-color: #F2F6FF;
  color: #1551E5;
}

.nav__link-promo {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #1551E5;
}

.nav__link-blog {
  color: #1551E5;
}

.card__nav {
  margin-bottom: 24px;
}

.card__title {
  margin-bottom: 32px;
}

.card__about {
  display: flex;
  gap: 48px;
}

.card__img {
  min-width: 400px;
}
.card__img img {
  border-radius: 24px;
}

.wrapper__inner {
  display: flex;
  gap: 48px;
  flex-wrap: nowrap;
}

.card__content {
  min-width: 372px;
}

.card__numbers {
  padding-top: 24px;
  margin-bottom: 42px;
}

.card__value {
  display: flex;
  align-items: center;
  gap: 68px;
  padding-bottom: 32px;
  border-bottom: 1px solid #E2E4F0;
}

.wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 32px;
}

.card__fullPrice {
  margin-bottom: 24px;
  color: #FF3D71;
}

.card__price {
  font-size: 32px;
  line-height: 48px;
}

.card__sale {
  padding: 5.5px 8px;
  background-color: #FF3D71;
  color: white;
  border-radius: 4px;
}

.card__boxes {
  padding: 8px;
  color: #828EAD;
  background-color: #f2f5f9;
  border-radius: 8px;
  line-height: 16px;
}

.card__checkbox {
  display: inline-block;
}

.card__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.card__checkBtn {
  display: inline-block;
  position: relative;
  font-size: 18px;
  line-height: 16px;
}

.card__checkBtn::before {
  content: "";
  position: absolute;
  left: -52px;
  top: -4px;
  width: 40px;
  height: 24px;
  background-color: #1551E5;
  border-radius: 32px;
  transition: all 0.3s;
}

.card__checkBtn::after {
  content: "";
  position: absolute;
  left: -34px;
  top: -2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  transition: all 0.3s;
}

.card__input:checked + .card__checkBtn::before {
  background-color: #828EAD;
}

.card__input:checked + .card__checkBtn::after {
  left: -50px;
}

.card__delivery {
  padding-top: 32px;
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
}

.card__buttons {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  height: 56px;
}

.card__btn-basket {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  justify-content: center;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
  background-color: #1551E5;
}

.card__btn-heart {
  min-width: 72px;
  border-radius: 8px;
  border: none;
  background-color: #F2F6FF;
}

.card__line {
  margin: 24px 0 45px;
  width: 1px;
  background-color: #E2E4F0;
}

.characteristics {
  padding-top: 24px;
}

.characteristics__title {
  margin-bottom: 32px;
}

.characteristics__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.characteristics__data {
  display: flex;
  flex-direction: column;
  gap: 14px;
  min-width: 302px;
}

.characteristics__info {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  color: #071435;
}

.description__title {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 24px;
  color: #071435;
}

.description__text {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1.1px;
}

.characteristics__text-color {
  font-size: 12px;
  line-height: 16px;
  color: #828EAD;
}

@font-face {
  font-family: "GothamPro";
  src: url(../resources/fonts/GothaProMed.otf) format("opentype");
}
body {
  font-family: "GothamPro", Georgia, "Times New Roman", Times, serif;
}

.container {
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 24px;
}/*# sourceMappingURL=style.css.map */