@import "components/reset";
@import "components/variables";
@import "components/mixins";
@import "components/header";
@import "components/nav";

@font-face {
  font-family: "GothamPro";
  src: url(../resources/fonts/GothaProMed.otf) format("opentype");
}

body {
  font-family: "GothamPro", Georgia, "Times New Roman", Times, serif;
}
