@import "components/reset";
@import "components/variables";
@import "components/mixins";
@import "components/header";
@import "components/nav";
@import "components/card";
@import "components/cardSlider";
@import "components/footer";

@font-face {
  font-family: "GothamPro";
  src: url(../resources/fonts/GothaProMed.otf) format("opentype");
}

@font-face {
  font-family: "Gotham-Bold";
  src: url(../resources/fonts/Gotham-Bold.otf) format("opentype");
}

@font-face {
  font-family: "Gotham-Book";
  src: url(../resources/fonts/Gotham-Book.otf) format("opentype");
}

@font-face {
  font-family: "Gotham-Medium";
  src: url(../resources/fonts/Gotham-Medium.otf) format("opentype");
}

body {
  color: $darkColorText;
}

.container {
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 24px;
}

.shadow:hover {
  box-shadow: 0px 12px 16px -7px rgba(0, 60, 255, 0.5);
}

a {
  text-decoration-line: none;
}

a:hover {
  cursor: pointer;
  scale: 1.05;
}

h4 {
  font-family: "Gotham-Medium";
  color: $textColorFooter;
  line-height: 24px;
}

button:hover {
  cursor: pointer;
}

.lightShadow:hover {
  box-shadow: 0px 12px 16px -7px rgba(202, 214, 255, 0.5);
}

input:hover {
  cursor: pointer;
}

input:focus {
  outline: none;
  border-color: red;
}

input:focus.header__search {
  border: 1px solid $bgBtn;
}

input:focus::placeholder {
  display: none;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

.width {
  width: 24px;
  padding: 0;
}

path.animate {
  fill: rgba(255, 0, 47, 0.267);
}
