.slider {
  display: flex;
  justify-content: space-between;
}

.slider__btn-prev, .slider__btn-next {
  padding: 16px 3px;
  border: none;
  border-radius: 8px;
}

.slider__btn-next {
  transform: rotate(180deg);
}

.slider__items {
  display: flex;
  align-items: center;
  gap: 12px;

  img {
    border-radius: 8px;
  }
}