@import "mixins";

.header {
  margin: 0 auto 32px;
  min-width: 1680px;
}

.header__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 0 24px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $colorBorder;
}

.header__logo {
  display: flex;
  min-width: 144px;
}

.header__menu {
  @include styleHeader;
  padding: 16px 0;

  span {
    @include gothamBoldFontAndSize;
  }
}

.header__input {
  width: 100%;
  font-family: "GothamPro";
}

.header__btn {
  @include styleHeader;
  padding: 12px 24px;
  gap: 12px;
  border: none;
  border-radius: 8px;
  background-color: $bgBtn;
  color: $colorTextBtn;

  span {
    padding-right: 24px;
  }
}

.header__search {
  width: 100%;
  @include styleHeader;
  border-radius: 8px;
  padding: 10px 16px;
  justify-content: space-between;
  position: relative;

  input[type="text"] {
    border: 1px solid $colorBorder;
    padding: 16px 16px;
    border-radius: 8px;
  }

  input[type="text"]:focus {
    border: 1px solid $bgBtn;
  }

  ::-webkit-input-placeholder {
    color: #828ead;
  }
}

.header__input:hover {
  color: #828ead;
  opacity: 0.6;
}

input[type="text"]:disabled {
  background: #f2f5f9;
  border: none;
}

input[type="text"]:disabled::-webkit-input-placeholder {
  color: #b2bace;
}

.header__btns {
  @include styleHeader;
  position: absolute;
  right: 30px;
  gap: 12px;
}

.header__btns-img {
  border: none;
  background-color: white;
}

.header__icons {
  @include styleHeader;
  gap: 24px;

  img {
    min-width: 32px;
  }
}

.header__line {
  width: 1px;
  height: 48px;
  background-color: $colorBorder;
}

.header__basket {
  padding: 12px 24px;
  min-width: 148px;
  background-color: $bgColorLightBlue;
  border-radius: 8px;
}

.header__price {
  @include styleHeader;
  position: relative;
  color: $bgBtn;
  gap: 8px;
  white-space: nowrap;
  @include gothamBoldFontAndSize;
}

.header__ruble {
  position: absolute;
  top: 53%;
  transform: translateY(-50%);
  right: 6px;
  @include gothamBoldFontAndSize;
  line-height: 5px;
	width: 5px;
	border-bottom: 1.5px solid $bgBtn;; 
	display: inline-block;
}

.header__account {
  @include styleHeader;
  gap: 16px;
  min-width: 169px;
}

.header__account-name {
  white-space: nowrap;
  font-size: 14px;
  font-family: "GothamPro";
}
