@mixin styleHeader {
  display: flex;
  align-items: center;
}

@mixin gothamProFontAndSize {
  font-family: "GothamPro";
  font-size: 14px;
}

@mixin gothamBoldFontAndSize {
  font-family: "Gotham-Bold";
  font-size: 14px;
}

// @mixin gothamBookFontAndSize {
//   font-family: "Gotham-Book";
//   font-size: 12px;
// }