$bgBtn: #1551E5;
$colorTextBtn: #FFFFFF;
$colorBorder: #E2E4F0;
$bgColorLightBlue: #F2F6FF;
$darkColorText: #071435;
$checkBoxColor: #828EAD;
$redColorText: #FF3D71;
$grayColorText: #828EAD;
$textColorFooter: #050D23;
